.button-class {
    background-color: lightpink;
    border: none;
    color:white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 40px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: aliceblue;
    color: darkslategray;
    border: 2px solid lightpink;

}

.pokemon-list{
    text-align: center;
}

#modal-container {
    display: none;
}

#modal-container.is-visible {
    position: fixed;
    margin: auto;
    display: grid;
    text-align: center;
}


